<form method="post" action="{{ path('workout_delete', {'id': workout.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workout.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
