{% extends 'base.html.twig' %}

{% block title %}Workout index{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 text-end h3">
        <p>{{ current|number_format }} / {{ goal|number_format }} <small class="text-muted">{{ (goal/7000)|number_format(2) }} kg</small>
        <br>Remaining: {{ (goal-current)|number_format }} <small class="text-muted">{{ ((goal-current)/7000)|number_format(2) }} kg</small>
        <br>Burned: {{ (current/7000)|number_format(2) }} kg fat
        <br>Start weight: {{ start_weight }} kg
        </p>
    </div>
</div>

<div class="card mb-2">
    <div class="card-header">
        Your scoreboard
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Period</th>
                    <th class="text-end">Duration</th>
                    <th class="text-end">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for i in scoreboard %}
                <tr>
                    <th>{{ i.title }}</th>
                    <td class="text-end">{{ (i.duration/60)|number_format(2) }} hours</td>
                    <td class="text-end">
                        <small class="text-muted">({{ i.calories|number_format(2) }} cals)</small>
                        {{ i.score|number_format(2) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        History
    </div>
    <div class="card-body p-0">
        <div class="row">
            <div class="col-6">
                <a class="btn btn-primary" href="{{ path('workout_new') }}">Create new</a>
            </div>
            <div class="col-6 text-end">
                <a target="_blank" href="https://www.innis.fit/assault-bike-workouts-and-strategies/">Chart</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-center">Calories</th>
                    <th class="text-center">Score</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for workout in workouts %}
                <tr>
                    <td>{{ workout.createdAt|date('Y-m-d H:i') }}</td>
                    <td class="text-center">
                        {{ workout.calories|number_format }} cal
                        <br>
                        {% if workout.duration > 0 %}
                        <small class="text-muted">{{ (workout.calories/workout.duration*60)|number_format }} cal/h</small>
                        {% endif %}
                    </td>
                    <td class="text-center">{{ (workout.calories*100/start_weight)|number_format }}</td>
                    <td>
                        <small class="fw-bold">
                            activity: {{ workout.activity }} |
                            duration: {{ workout.duration }} min
                        </small>
                        <p>{{ workout.description|nl2br }}</p>
                    </td>
                    <td class="text-end">
                        <a class="btn btn-sm btn-primary" href="{{ path('workout_edit', {'id': workout.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
