{% extends 'base.html.twig' %}

{% block title %}Workout{% endblock %}

{% block body %}
    <h1>Workout</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workout.id }}</td>
            </tr>
            <tr>
                <th>Calories</th>
                <td>{{ workout.calories }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('workout_index') }}">back to list</a>

    <a href="{{ path('workout_edit', {'id': workout.id}) }}">edit</a>

    {{ include('workout/_delete_form.html.twig') }}
{% endblock %}
